<div class="row searchrow">
  <div class="col-lg-12">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle search-topic-ddl" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
        <ul class="dropdown-menu search_ddl">
          <li>
            <div class="input-group">
              <span class="input-group-addon" id="search-keyword">Keywords</span>
              <input type="text" class="form-control" id="search-keyword" ng-model="main.search.keyword" aria-describedby="search-keyword">
              <span class="input-group-btn">
                    <button class="btn btn-danger" ng-click="main.addKeyword()" type="button">+</button>
                  </span>
            </div>
          </li>
          <!-- <li role="separator" class="divider"></li> -->
          <!-- <li><a href="#">Quick Search</a></li> -->
          <!-- <li>
            <div class="input-group">
              <span class="input-group-addon" id="search-keyword">Channel</span>
              <input type="text" class="form-control" id="search-keyword" ng-model="main.search.channel" aria-describedby="search-keyword">
              <span class="input-group-btn">
                    <button class="btn btn-danger" ng-click="main.addKeyword()" type="button">+</button>
                  </span>
            </div>
          </li> -->

        </ul>
      </div>
      <!-- /btn-group -->
      <input type="text" class="form-control search-topic" ng-model="main.search.topic" ng-init="main.search.topic='Govenment cuts'" aria-label="search-topic">
      <span class="input-group-btn">
        <button class="btn btn-success search-topic-go" ng-click="main.doSearch()" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div>
    <!-- /input-group -->

  </div>
  <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
<div class="row keywordrow" ng-if="main.keywords.length>0">
  <div class="col-lg-12">
    <span class="tag label label-primary tag_keyword" ng-repeat="key in main.keywords">
          <span>{{key}}</span>
    <a><i ng-click="main.removeKeyword($index)" class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
    </span>
  </div>
</div>
<!-- <div class="row sourcerow" ng-if="main.pickedSource.length>0">
  <div class="col-lg-12">
    <span class="tag label label-primary tag_keyword" ng-repeat="key in main.pickedSource">
          <span>{{key}}</span>
    <a><i ng-click="main.removepickedSource($index)" class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
    </span>
  </div>
</div>
<div class="row peoplerow" ng-if="main.pickedPeople.length>0">
  <div class="col-lg-12">
    <span class="tag label label-primary tag_keyword" ng-repeat="key in main.pickedPeople">
          <span>{{key}}</span>
    <a><i ng-click="main.removepickedPeople($index)" class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
    </span>
  </div>
</div> -->
<div class="result-wrapper">
  <div class="well description" ng-if="(main.commentsJSON.organic).length === 0">
    <p>Search for keywords or a topic and harvest the comments to find experts, eyewitnesses and story leads from Facebook users, local media and other sources. </p>
    <p>You can sort and filter comments to find entities and people, with sentiment displayed through colour. </p>
  </div>

  <div class="comment-box" ng-if="(main.commentsJSON.organic).length > 0" ng-hide="main.showChart">

    <div ng-repeat="comment in main.commentsJSON.organic" class="comment clearfix">
      <div class="comment-user">
        <div class="comment-user-avatar">
          <i class="fa fa-user"></i>
        </div>
        <div class="comment-user-source">
          {{comment.Name}}
          <br/>
          <span>{{comment.Channel}}</span>
        </div>
      </div>
      <div class="comment-text" ng-class-odd="'odd'" ng-class-even="'even'">
        <p class="publish-time">{{comment.Date}} <span class="pull-right" ng-class="{red: comment.Like!= 0 }"><i class="fa fa-heart"  ></i> {{comment.Like}}</span></p>
        <p>{{comment.Message}}</p>
        <div class="comment-entity" ng-if="comment.entities.length>0">
          <span ng-click="main.addKeyword(entity.text)"  ng-cick='main.addEntity($event)' class="entityTag" ng-class="entity.sentiment.type" ng-repeat="entity in comment.entities">{{entity.text}}</span>
        </div>

        <p class="pickComment pull-right" ng-click="main.pickComment($index)"><i class="fa fa-plus"></i></p>
      </div>
    </div>
  </div>
  <div class="aside-filter" ng-if="(main.commentsJSON.organic).length > 0">
    <div class="aside-filter-source">
      <h4 data-toggle="tooltip" data-placement="top" title="Filter by source channel">Sources</h4>
      <ul class="touchable-list">
        <li ng-click="main.addKeyword('ABC')"><i class="fa fa-globe"></i> ABC</li>
        <li ng-click="main.addKeyword('Age')" ><i class="fa fa-globe"></i> Age</li>
        <li ng-click="main.addKeyword('Facebook')"><i class="fa fa-facebook"></i> Facebook</li>
        <li ng-click="main.addKeyword('Guardian')"><i class="fa fa-globe"></i> Guardian</li>
        <li ng-click="main.addKeyword('SBS')"><i class="fa fa-globe"></i> SBS</li>
        <li ng-click="main.addKeyword('SMH')"><i class="fa fa-globe"></i> SMH</li>
      </ul>
    </div>
    <div class="aside-filter-people" >
        <button type="button" class="btn btn-primary btn-sml btn-fullwidth" ng-click="main.showChart = !main.showChart" ng-init="main.showChart=false">
            <i class="fa fa-pie-chart"></i> Analyze
          </button>
    </div>
    <!--<div class="aside-filter-people">
      <h4>Wordcloud</h4>
    </div> -->
    <div class="aside-filter-people">
      <h4>Entities</h4>
      <ul class="touchable-list ">
        <li ng-repeat="entity in main.fakeEntities.entities | orderBy:count | limitTo:5" ng-click="main.addKeyword(entity.text)" >
            {{entity.text}} <label class="count">{{entity.count}}</label>
        </li>
      </ul>
    </div>

    <!-- <div class="aside-filter-emotion">
            <h4>Emotion</h4>
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default btn-pos"><i class="fa fa-smile-o"></i></button>
              <button type="button" class="btn btn-default btn-neg"><i class="fa fa-frown-o"></i></button>
              <button type="button" class="btn btn-default btn-nut"><i class="fa fa-meh-o"></i></button>
            </div>
        </div>
  </div> -->
  <div class="aside-contact" ng-class="{filled:(main.commentsJSON.picked).length > 0}" ng-if="(main.commentsJSON.organic).length > 0 || (main.commentsJSON.picked).length > 0">
  <ul class="share-list" ng-show="(main.commentsJSON.picked).length > 0">
      <li>
          <button type="button" class="btn btn-primary btn-sml btn-round" ng-click="showShare = !showShare" ng-init="showShare = false" >
              <i  ng-show="!showShare" class="fa fa-share-alt"></i>
              <i  ng-show="showShare" class="fa fa-times"></i>
            </button>
      </li>
      <li ng-show="showShare">
          <button type="button" class="btn btn-primary btn-sml btn-round">
              <i class="fa fa-envelope"></i>
            </button>
      </li>
      <li ng-show="showShare">
          <button type="button" class="btn btn-primary btn-sml btn-round">
              <i class="fa fa-google"></i>
            </button>
      </li>
      <li ng-show="showShare">
          <button type="button" class="btn btn-primary btn-sml btn-round">
              <i class="fa fa-mixcloud"></i>
            </button>
      </li>
      <li ng-show="showShare">
          <button type="button" class="btn btn-primary btn-sml btn-round"  >
              <i class="fa fa-hdd-o"></i>
            </button>
      </li>
  </ul>
    <div ng-repeat="(key,comment) in main.commentsJSON.picked" class="card clearfix" ng-class-odd="'odd'" ng-class-even="'even'">
      <p class="pickComment pull-right" ng-click="main.unpickComment(key)"><i class="fa fa-minus"></i></p>
      <div class="comment-user">
        <div class="comment-user-avatar">
          <i class="fa fa-user"></i>
        </div>

        <div class="comment-user-source">
          <h5>{{comment.Name}}</h5>
          <span>{{comment.Channel}}</span>
          <br/>
          <span class="email"><i class="fa fa-envelope"></i> <a ng-href="mailto:{{comment.Email}}">{{comment.Email}}</a></span>
        </div>
      </div>
      <div class="comment-text">
        <p><strong>Note:</strong></p>
        <p class="publish-time">{{comment.Date}}</p>
        <p>{{comment.Message}}</p>

      </div>
    </div>
  </div>


</div>


<div ng-show="main.showChart" class="overlap-window">
    <h1>Treemap</h1>
    <p class="closeBtn pull-right" ng-click="main.showChart=false"><i class="fa fa-times-circle"></i></p>
    <img src="images/chart.png" />
</div>
